<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../css/index.css">
        <title>abunator</title>
    </head>
    
    <body>
        <div id="wrap">
        
        <div id="main">
        <h1 class="f-big">ABUNATOR</h1>
        
        <a href = "/start" class="start">START</a>
        <!--<form method = 'POST' action = '/'>
            <input type = "hidden" name = "start" value = 1>
            <input type = "submit" value = "START" class = "button">
        </form>
        -->
        
             <ul class="circles">
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
                 <li></li>
             </ul>
        </div >

        </div>
        
        <!-- 初期化スペース -->
       
        
    </body>

</html>