<!DOCTYPE html>
<html lang="en">
<import setters>

    <style>
        #masthead,#header-nav-area,#header-image,#sub,#main-footer{
        display:none;
        }
        </style>

    <head>
        <!-- headのコードを変える -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=maximum-scale">
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}"> -->
        <!-- <meta http-equiv="Content-Type" content="text/html; charset=windows-31j"> -->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css') }}">
        <!--link rel="stylesheet" type="text/css" href="reset.css"-->
        <title>abunator</title>
    </head>

    <body>
        <div style="padding: 1px; background: #FC876E">
            <div id="wrap">

            <!-- 図鑑へのリンクは下に行きました。 -->
            <!--<a href="/pic_book" class="picture_book">図鑑へのリンク</a> -->

            <div id="main">
                <h1 class="f-big">ABUNATOR</h1>
                <br><br>
                <a href = "/start" class="start">START</a>
                <!--<form method = 'POST' action = '/'>
                    <input type = "hidden" name = "start" value = 1>
                    <input type = "submit" value = "START" class = "button">
                </form>
                -->
                <br><br>
                <p class = "lastresult">前回の結果：{{name}}</p>
                <br><br>
                <br><br>
                <!-- 図鑑へのリンク -->
                <a href="/pic_book" class="picture_book">図鑑を見る</a>

                            <!--後ろのういてくるやつ-->
                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <!-- 画面の下に十分な余白を入れる改行 -->
                    <br><br><br><br><br><br><br><br>
                    <br><br><br><br><br><br><br><br>

                </ul>
            </div >
        </div>

        <!-- 初期化スペース -->
        <!-- 初期化は別の場所(app.py)でやります -->
        </div>
    </body>

</import>

</html>