<!DOCTYPE html>
<html lang="en">
<import setters>
    
    <head>
        <!-- headのコードを変える -->
        <!-- <meta charset="UTF-8"> -->
        <!-- <meta name="viewport" content="width=device-width, initial-scale=maximum-scale"> -->
        <!-- <link rel="stylesheet" href="{{url_for('static', filename='css/index.css') }}"> -->    
        <meta http-equiv="Content-Type" content="text/html; charset=windows-31j">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css') }}">
        <title>abunator</title>
    </head>
    
    <body>
        <div id="wrap">

            <!-- 図鑑へのリンク -->
            <a href="/picture_book" class="picture_book">図鑑へのリンク</a>

            <div id="main">
                <h1 class="f-big">ABUNATOR</h1>
           
                <a href = "/start" class="start">START</a>
                <!--<form method = 'POST' action = '/'>
                    <input type = "hidden" name = "start" value = 1>
                    <input type = "submit" value = "START" class = "button">
                </form>
                -->

                <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <!-- 画面の下に十分な余白を入れる改行 -->
                    <br><br><br><br><br><br><br><br><br>
                    <br><br><br><br><br>
                </ul>
            </div >
        </div>
        
        <!-- 初期化スペース -->   
        <!-- 初期化は別の場所(Branch.py)でやります -->

        
    </body>

</import>

</html>