<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=S, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/unknown_error.css') }}">
    <title>unknown</title>
</head>

<body>
    <div id="wrap">

        <h1 class="f-big"><a href="/return">ABUNATOR</a></h1>
        <hr size="2" color="#DB1D32" noshade/>
        <div class="box01">
            <div class="box">名前が分かりませんでした。<br>もう一度やり直しますか？</div>
            <a href= "/return" class="start">やり直す</a>
        </div>
        
        <img class="buruburu" src="../static/imgs/character_program_shock.png" alt="人工知能画像" title="人工知能の画像"/>
                
    </div>
</body>

</html>